<!DOCTYPE html>
<html lang="en">
<head>
<title>{{title}}</title>
<meta charset="UTF-8">
{% load static %}
<link rel="shortcut icon" href="{% static 'img/ikonka.ico'%}">

<link rel="stylesheet" type="text/css" href="{% static 'style/style.css' %}">
<link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">

</head>

<body>
    
     <script type="text/javascript">   
                function hideshow(which, tria){
                    
                    var down = '▼';
                    var ri ='▶';
                    
                    if (!document.getElementById)
                        return
                    if (which.style.display=="block"){
                        which.style.display="none"
                        tria.innerHTML = ri
                        }
                    else{
                        which.style.display="block"
                        tria.innerHTML = down
                        }
                }
    </script> 
    
    <div class='main'>
        <div class="buttons">
            <div class='info'>
                Informacija
            </div>
            <div class="language">
                <a href="/cro">HR</a>
            </div>
            <div class="language">
                <a href="/">UA</a>
            </div>
        </div>
        
        <div class='logo'>
            <a href="/cro"><img src='{% static "img/logo1.png" %}' class="logo"></a>
        </div>
        
    <div class="forms">
    <form name = "form" action = "/insert_cro/"  method = "GET" >

    <input type = "text" placeholder = "Unesite brojku ili riječ" name = "number" value = "{{inp}}"/>
            
    <button type = "submit" value = "search" >
        <strong>Traži</strong>
    </button>
        </form>
    </div>
        
        {{header|safe|escape}}
        {{result|safe|escape}}
        {{paradigm|safe|escape}}
   
        <br>
    </div>

<div class="footer">
</div>

</body>

</html>